:root{
  --principalDark:#16F5DF;
  --principal: #00A897;
  --secondDark:#FF7230;
  --second: #F55D16;
  --colorFonts:#A83A07;
  --white: rgb(226, 226, 226);
  --black: #000;


  --font: 'Poppins', sans-serif;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
    background-image:url(img/back.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
    height:100%;
    width:100%;
    position: absolute;
    top: 0; 
    left: 0;
    font-size: 1.6rem;

  margin: 0;
  font-family: var(--font);
  /* font-size: 14px; */
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  background-color: transparent;
  color: var(--principal);
  border: 1px solid var(--principal);
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
}

select {
  background-color: transparent;
  color: var(--second);
  border: 1px solid var(--second);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

select option {
  background: rgba(0, 0, 0, 0.74);
  color:var(--principal)
}

option:checked { 
  color: var(--second); 
}

select[multiple] {
  height: 18rem;
  width: auto;
}

label{
  font-size: 1.3rem;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
