.right{
    border: 1px solid var(--principal);
    float: right;
    margin-top: -3rem;
    margin-right: -3rem;
    padding: 0 0.5rem;
}

.actcard{
    border: 2px dotted var(--principal);
    border-radius: 10px;
}

.activityname{
    color:var(--second)
}

.back{
    background-color: rgba(0, 0, 0, 0.795);
}